# Ignore the variables file required for test execution
test-variables.yml
# Ignore runtime files created by the run_robot_test.sh script
venv/
ods_ci.egg-info/
test-output/
dist/
drivers/**/chromedriver
must-gather-results.txt
