BROWSER:
  NAME: headlesschrome
  # List of Chrome options - https://peter.sh/experiments/chromium-command-line-switches/
  OPTIONS: add_argument("--ignore-certificate-errors");add_argument("window-size=1920,1024")
OCP_CONSOLE_URL: "http://console-openshift-console.apps.my-cluster.test.redhat.com/"
ODH_DASHBOARD_URL: "http://odh-dashboard-opendatahub.apps.my-cluster.test.redhat.com/"
TEST_USER:
  AUTH_TYPE: foo-auth
  USERNAME: foo-user
  PASSWORD: foo-passwd
OCP_ADMIN_USER:
  AUTH_TYPE: "kube:admin"
  USERNAME: kubeadmin
  PASSWORD: abc123XYZ!
