{
    "kind": "IdentityProvider",
    "type": "LDAPIdentityProvider",
    "name": "ldap-provider-qe",
    "mapping_method": "claim",
    "ldap": {
      "url": "ldap://openldap.openldap.svc.cluster.local:1389/dc=example,dc=org?uid",
      "attributes": {
        "id": [
          "dn"
        ],
        "name": [
          "cn"
        ],
        "preferred_username": [
          "uid"
        ]
      },
      "bind_dn": "cn=admin,dc=example,dc=org",
      "bind_password": "adminpassword",
      "insecure": true
    }
}
