BROWSER:
  NAME: headlesschrome
  # List of Chrome options - https://peter.sh/experiments/chromium-command-line-switches/
  # --disable-dev-shm-usage  and --no-sandbox are required for running chromedriver in a container
  OPTIONS: add_argument("--ignore-certificate-errors");add_argument("window-size=1920,1024");add_argument("--disable-dev-shm-usage");add_argument("--no-sandbox");add_argument('--disable-gpu')
OCP_CONSOLE_URL: "http://console-openshift-console.apps.my-cluster.test.redhat.com"
ODH_DASHBOARD_URL: "http://odh-dashboard-opendatahub.apps.my-cluster.test.redhat.com"
OCP_API_URL: "https://api.my-cluster.test.redhat.com:my-port"
RHODS_PROMETHEUS_URL: "https://prometheus-redhat-ods-monitoring.apps.my-cluster.test.redhat.com/"
# RHODS_PROMETHEUS_TOKEN can be obtained running: oc serviceaccounts new-token prometheus -n redhat-ods-monitoring #
RHODS_PROMETHEUS_TOKEN: "prometheus-token"
TEST_USER:
  AUTH_TYPE: foo-auth
  USERNAME: foo-user
  PASSWORD: foo-passwd
OCP_ADMIN_USER:
  AUTH_TYPE: "kube:admin"
  USERNAME: kubeadmin
  PASSWORD: abc123XYZ!
TEST_USER_2:
  AUTH_TYPE: foo-auth
  USERNAME: foo-user2
  PASSWORD: foo-passwd2
TEST_USER_3:
  AUTH_TYPE: foo-auth
  USERNAME: foo-user3
  PASSWORD: foo-passwd3
TEST_USER_4:
  AUTH_TYPE: foo-auth
  USERNAME: foo-user4
  PASSWORD: foo-passwd4
SERVICE_ACCOUNT:
  NAME: <sa_name>
  FULL_NAME: <sa_full_name>
  # FULL_NAME in the format of "system:serviceaccount:<namespace>:<sa_name>"
S3:
  AWS_ACCESS_KEY_ID: ID-value
  AWS_SECRET_ACCESS_KEY: Secret-Key
  AWS_DEFAULT_ENDPOINT:    https://s3.amazonaws.com/
  AWS_DEFAULT_REGION:    us-east-1
ANACONDA_CE:
  ACTIVATION_KEY: license-key
SSO:
  USERNAME: rh-sso-account
  PASSWORD: rh-sso-account-pw
RHOSAK_CONFIG_TEST:
  STREAM_REGION: stream-aws-region
  CLOUD_PROVIDER: stream-cloud-provider
  STREAM_NAME: stream-test-name
  SERVICE_ACCOUNT: stream-test-sa
  TOPIC_NAME: stream-test-topic
  CONSUMER_GROUP: stream-test-cg
GITHUB_USER:
  USERNAME: USER
  EMAIL: email@gmail.com
  TOKEN: token
