clouds:
  {{ CLOUD_NAME }}:
    auth:
      auth_url: {{ AUTH_URL }}
      username: "{{ USERNAME }}"
      project_id: {{ PROJECT_ID }}
      project_name: "{{ PROJECT_NAME }}"
      user_domain_name: "{{ USER_DOMAIN_NAME }}"
      password: "{{ PASSWORD }}"
    region_name: "{{ REGION_NAME }}"
    interface: "{{ INTERFACE }}"
    identity_api_version: {{ IDENTITY_API_VERSION }}
