{
    "kind": "IdentityProvider",
    "type": "LDAPIdentityProvider",
    "name": "ldap-provider-qe",
    "mapping_method": "claim",
    "ldap": {
      "url": "{{ LDAP_URL }}",
      "attributes": {
        "id": [
          "dn"
        ],
        "name": [
          "cn"
        ],
        "preferred_username": [
          "uid"
        ]
      },
      "bind_dn": "{{ LDAP_BIND_DN }}",
      "bind_password": "{{ LDAP_BIND_PASSWORD }}",
      "insecure": true
    }
}
