{
    "name": "{{ CLUSTER_NAME }}",
    "cloud_provider": {
      "id": "{{ CLOUD_PROVIDER }}"
    },
    "version": {
      "id": "{{ OCP_VERSION }}",
      "channel_group": "{{ CHANNEL_GROUP }}"
    },
    "fips": "{{ FIPS }}",
    "region": {
      "id": "{{ REGION }}"
    },
    "multi_az": false,
    "product": {
      "id": "osd"
    },
    "ccs": {
      "enabled": true
    },
    "nodes": {
      "compute": {{ COMPUTE_NODES }},
      "compute_machine_type": {
        "id": "{{ COMPUTE_MACHINE_TYPE }}"
      }
    },
    {% if CLOUD_PROVIDER == "aws" %}
    "aws": {
      "access_key_id": "{{ AWS_ACCESS_KEY_ID }}",
      "secret_access_key": "{{ AWS_SECRET_ACCESS_KEY }}",
      "account_id": "{{ AWS_ACCOUNT_ID }}",
      "tags": {
          "team": "{{ TEAM }}"
      }
    }
    {% endif %}
    {% if CLOUD_PROVIDER == "gcp" %}
    "gcp": {
      "project_id": "{{ GCP_SA_PROJECT_ID }}",
      "private_key_id": "{{ GCP_SA_PRIVATE_KEY_ID }}",
      "private_key": "{{ GCP_SA_PRIVATE_KEY }}",
      "client_id": "{{ GCP_SA_CLIENT_ID }}",
      "client_email": "{{ GCP_SA_CLIENT_EMAIL }}",
      "client_cert_url": "{{ GCP_SA_CLIENT_CERT_URL }}"
    }
    {% endif %}
}
  
