apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
      name: {{ ISV_NAME }}-operator
      namespace: openshift-operators
spec:
        channel: {{ CHANNEL }}
        installPlanApproval: Automatic
        name: {{ ISV_NAME }}-operator
        source: {{ SOURCE  }}
        sourceNamespace: openshift-marketplace

