{
    "parameters": {
        "items":
                [
                  {
                  "id": "notification-email",
                   "value": "{{ EMAIL_ADDER }}"
                  }
               ]
    }

}

