name: Lint
on: [push, pull_request]

jobs:
  run_shellcheck:
     name: shellcheck linter
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v4
      - name: shellcheck_
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          path: "."
          pattern: "*.sh"
          exclude: "./.git/*"
          check_all_files_with_shebangs: "false"
  robocop:
     name: robocop
     runs-on: ubuntu-latest
      # continue even if Robocop returns issues and fails step
     continue-on-error: true
     steps:
      -   name: Checkout repository
          uses: actions/checkout@v4
      -   name: Install dependencies
          #  robocop 6.X includes a new cli format and its not compatible with --reports
          run: pipx install robotframework-robocop~=5.0.0
      -   name: Run robocop
          run: robocop --verbose --reports sarif . || true
      -   name: Upload SARIF file
          uses: github/codeql-action/upload-sarif@v3
          with:
            sarif_file: .sarif.json
            category: robocop
  python_linters:
    name: python linters
    runs-on: ubuntu-latest
    env:
      python_version: '3.11.x'
      poetry_version: '2.1.1'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ env.python_version }}'

      - name: Install poetry
        run: pipx install poetry==${{ env.poetry_version }} --python "${{ steps.setup-python.outputs.python-path }}"

      - name: Configure poetry
        run: |
          poetry env use "${{ steps.setup-python.outputs.python-path }}"

      - run: poetry check --lock

      - run: poetry sync --no-interaction

      # run all liners in turn and don't fail fast

      - run: poetry run ruff check
        if: "!cancelled()"

      - run: poetry run ruff format --check --diff
        if: "!cancelled()"

      - run: poetry run pyright
        if: "!cancelled()"

  selftests:
    name: selftests
    runs-on: ubuntu-latest
    env:
      python_version: '3.11.x'
      poetry_version: '2.1.1'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ env.python_version }}'

      - name: Install poetry
        run: pipx install poetry==${{ env.poetry_version }} --python "${{ steps.setup-python.outputs.python-path }}"

      - name: Configure poetry
        run: poetry env use "${{ steps.setup-python.outputs.python-path }}"

      - name: Install deps
        run: poetry sync --no-interaction

      - run: poetry run pytest
