name: Lint
on: [push, pull_request]

jobs:
  run_shellcheck:
     name: shellcheck linter
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v4
      - name: shellcheck_
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          path: "."
          pattern: "*.sh"
          exclude: "./.git/*"
          check_all_files_with_shebangs: "false"
  robocop:
     name: robocop
     runs-on: ubuntu-latest
      # continue even if Robocop returns issues and fails step
     continue-on-error: true
     steps:
      -   name: Checkout repository
          uses: actions/checkout@v4
      -   name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                pip install robotframework-robocop
      -   name: Run robocop
          run: python -m robocop --verbose --reports sarif . || true
      -   name: Upload SARIF file
          uses: github/codeql-action/upload-sarif@v2
          with:
            sarif_file: .sarif.json
            category: robocop
  python_linters:
    name: python linters
    runs-on: ubuntu-latest
    env:
      poetry_version: '1.7.1'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache poetry in ~/.local
        uses: actions/cache@v3
        id: cached-home-local
        with:
          path: ~/.local
          key: "${{ runner.os }}-local-${{ env.poetry_version }}"

      - name: Install poetry
        if: steps.cached-home-local.outputs.cache-hit != 'true'
        run: pip install poetry==${{ env.poetry_version }}

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Configure poetry
        run: |
          poetry env use "${{ steps.setup-python.outputs.python-path }}"

      - run: poetry check --lock

      - run: poetry install --sync

      # run all liners in turn and don't fail fast

      - run: poetry run ruff check
        if: "!cancelled()"

      - run: poetry run ruff format --check --diff
        if: "!cancelled()"

      - run: poetry run pyright
        if: "!cancelled()"

      - run: poetry run pyright
        if: "!cancelled()"

  selftests:
    name: selftests
    runs-on: ubuntu-latest
    env:
        poetry_version: '1.7.1'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache poetry in ~/.local
        uses: actions/cache@v3
        id: cached-home-local
        with:
          path: ~/.local
          key: "${{ runner.os }}-local-${{ env.poetry_version }}"

      - name: Install poetry
        if: steps.cached-home-local.outputs.cache-hit != 'true'
        run: pip install poetry==${{ env.poetry_version }}

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Configure poetry
        run: poetry env use "${{ steps.setup-python.outputs.python-path }}"

      - name: Install deps
        run: poetry install --sync

      - run: poetry run pytest
